h1{text-align: center;}

table { border-collapse: collapse; font-family: Arial, Helvetica, sans-serif;margin-left:auto;margin-right:auto;}
colgroup, tbody { border: solid medium; }
td { border: solid thin; height: 1.4em; width: 1.3em; text-align: center; padding: 0; }
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.board {
    
    width: 42%;
    font-size: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border:5px solid black;
   
  }

.board td:nth-child(3n){
  border-right: 4px solid black;
}
.board td:hover{
  background-color: yellow;
}
.score td:hover{
  background-color: yellow;
}

.score 
{
  margin-top: 20px;
  width: 55%;
  font-size: 40px;
  columns: border "black";
  margin-left: auto;
  margin-right: auto;
  border:1px solid rgb(24, 24, 24);
}
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
.topnav {
  background-color: black;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color: black;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}
.topnavi{
  background-color: black;

}

.topnavi a{
  background-color: black;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: lightgray;
}


.empty {
  background-color: white;
  color: black;
}

#highscores{
  margin-top: 20px;
  width: 55%;
  font-size: 40px;
  columns: border "black";
  margin-left: auto;
  margin-right: auto;
  border:1px solid rgb(24, 24, 24);
}
.user-input {
  background-color: #f2f2f2;
}

.error{
  background-color: #f76c5e;
}


/* Change the color of links on hover */


/* Add a color to the active/current link */





/* add your styling and layout CSS here */